*{
    box-sizing: border-box !important;
    font-size: 16px;
    scroll-behavior: smooth;
}
#loading{
    position: fixed;
    width: 100%;
    height: 100vh;
    background:#fff url("../Images/Spinner-1s-200px.gif") no-repeat center;
    z-index: 9;
}

.myhieght{
    margin:0% !important;padding: 0% !important;
    /* min-height: 333px; */
}

.card{
    opacity: 0.9;
}

.join-bg{
    background: #ca283f;
    background-color: rgb(202, 40, 63);
    min-height: 400px;
}
.nav-img{
    width:6vh;
}

