@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
*{
    box-sizing: border-box !important;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}
#loading{
    position: fixed;
    width: 100%;
    height: 100vh;
    background:#fff url("../Images/Spinner-1s-200px.gif") no-repeat center;
    z-index: 9;
}
.myhieght{
    margin:0% !important;padding: 0% !important;
    /* min-height: 333px; */
}
.banner-img-2{
    background-image: url("/Images/banner2-img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 650px; */
    /* min-height: 653px; */
}

.card{
    opacity: 0.9;
}

.join-bg{
    background: #ca283f;
    background-color: rgb(202, 40, 63);
    min-height: 400px;
}